.point {
  cursor: pointer;
}

.post:hover {
  box-shadow: 0px 4px 40px 12px rgba(182, 182, 182, 0.35);
}

.open-post {
  margin: 20px auto !important;
}

.post-title {
  background-color: whitesmoke;
  color: darkgrey;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 600;
}

.transition-post {
  transition-property: max-height opacity;
  transition-duration: 0.8s;
}

.hidden-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  margin-bottom: 0;
  margin: 0px 10px;
}

.show-content {
  opacity: 1;
  margin-bottom: 0;
}

@media screen and (max-width: 576px) {
  .open-post {
    margin: 5px auto !important;
  }

  .post-title {
    font-size: 1rem;
  }
}
